@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, #120055, #120099);
 
}
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
}
header h1{
  font-size: 2rem;
  color: #343a40;
  margin-left: 20px;
  align-self: center;
}
nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  align-self: center;
  
}
.menu {
  display: flex;
  align-items: center;  
  justify-content: center;
  padding: 20px;  
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
.menu:hover{
  background-color: #120055;
  color: #f8f9fa;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button{  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  background-color: #2b9b3e;
  color: #f8f9fa;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: none
}
.button a{
  text-decoration: none;
  color: #f8f9fa;
  font-weight: bold;
  
}

main{
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #b6a6a6;
  border-radius: 5px;
}
.bem-vindo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  height: 50vh;

}
.bem-vindo h1{
  font-size: 2rem;
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
}
.bem-vindo p{
  text-indent: 20px;
  font-size: 1.2rem;
  color: #495057;
}










footer{
  width: 100%;
 padding: 4px;
  margin: 0;
  background-color: #120055;
  color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}